node_modules
Session.vim
data/*.db
data/*.db-*
data/*.sqlite*
.env
.env.*
.env.local
*.log
npm-debug.log*
yarn-debug.log*
public/styles/*.min.css
public/scripts/anonymizer.js
public/scripts/*.map
public/scripts/*.LICENSE.txt
.DS_Store
Thumbs.db
.idea/
.vscode/
.eslintcache
