@use "index.scss" with (
  /* B/W */ $black: #111,
  $white: #fff,

  /* MAIN COLORS */ $mainBackground: #222,
  $mainBackgroundLite: #333,
  $mainBackgroundLiteHover: #444,
  $mainBackgroundAlt: #191919,
  $mainText: #fff,
  $mainVague: #aaa,
  $mainHover: #333,
  $mainLine: #595959,

  /* SIDEBAR COLORS */ $asideBackground: #ccc,
  $asideBackgroundLite: #efefef,
  $asideBackgroundLiteHover: #e6e6e6,
  $asideBackgroundAlt: #f8f8f8,
  $asideText: #111,
  $asideVague: #777,
  $asideHover: #999,
  $asideLine: #c0c0c0,
  $asideInputBackground: #fff,
  $asideInputBackgroundDisabled: #ddd,
  $asideInputText: #111,
  $asideInputVague: #666,
  $asideInputLine: #c0c0c0,
  $asideInputLineHover: #5dade2,
  $asideInputLineFocus: #2e8fc1,
  $asideInputLineActive: #2c81ba,
  $asideInputLineError: #c0392b,

  /* ACCENT COLORS */ $yellow: #ff0,
  $yellowBackground: #ffcc33,
  $yellowBorder: #e6ac00,
  $yellowText: #111,
  $yellowHeader: #e6ac00,
  $yellowBorderSub: #e6ac00,
  $yellowTextSub: #111,
  $yellowHover: #ffd966,
  $yellowActive: #ffe699,
  $yellowActiveLite: #ffe699,
  $yellowActiveText: #111,

  $blue: #2980d7,
  $darkblue: #154360,
  $blueBackground: #2066ac,
  $blueBorder: #184d81,
  $blueText: #fff,
  $blueHeader: #184d81,
  $blueBorderSub: #184d81,
  $blueTextSub: #fff,
  $blueHover: #2473c2,
  $blueActive: #2980d7,
  $blueActiveLite: #2980d7,
  $blueActiveText: #fff,

  $red: #c00,
  $redBackground: #cb4335,
  $redBorder: #a2362a,
  $redText: #fff,
  $redHeader: #a2362a,
  $redBorderSub: #a2362a,
  $redTextSub: #fff,
  $redHover: #d05649,
  $redActive: #da7c71,
  $redActiveLite: #da7c71,
  $redActiveText: #fff,

  $green: #28b463,
  $greenBackground: #176939,
  $greenBorder: #0e3f22,
  $greenText: #fff,
  $greenHeader: #0e3f22,
  $greenBorderSub: #0e3f22,
  $greenTextSub: #fff,
  $greenHover: #209250,
  $greenActive: #29bc67,
  $greenActiveLite: #29bc67,
  $greenActiveText: #fff,

  $purpleBackground: #8000ff,
  $purpleBorder: #400080,
  $purpleText: #fff,
  $purpleHeader: #400080,
  $purpleBorderSub: #400080,
  $purpleTextSub: #fff,
  $purpleHover: #a64dff,
  $purpleActive: #bf80ff,
  $purpleActiveLite: #bf80ff,
  $purpleActiveText: #fff,

  $orangeBackground: #d35400,
  $orangeBorder: #b34700,
  $orangeText: #fff,
  $orangeHeader: #b34700,
  $orangeBorderSub: #b34700,
  $orangeTextSub: #fff,
  $orangeHover: #ff6600,
  $orangeActive: #ff8533,
  $orangeActiveLite: #ff8533,
  $orangeActiveText: #fff,

  $gray: #aaa,
  $grayBackground: #333,
  $grayBorder: #595959,
  $grayText: #58a6da,
  $grayHeader: #aaa,
  $grayBorderSub: #aaa,
  $grayTextSub: #fff,
  $grayHover: #444,
  $grayActive: #2980d7,
  $grayActiveText: #fff,

  /* HEADER */ $headerBackground: #333,
  $headerText: #fff,
  $headerLine: #595959,

  /* LINKS */ $linkColor: #e6b800,
  $linkLine: #e6b800,
  $linkHover: #fff,
  $linkActive: #fff,
  $linkVisited: #ff5c33,

  /* INPUT */ $inputBackground: #191919,
  $inputBackgroundDisabled: #262626,
  $inputText: #fff,
  $inputVague: #666,
  $inputLine: #595959,
  $inputLineHover: #5dade2,
  $inputLineFocus: #2e8fc1,
  $inputLineActive: #2c81ba,
  $inputLineError: #c0392b,

  /* BUTTONS */ $buttonBackground: #595959,
  $buttonText: #fff,
  $buttonTextDisabled: rgba(#fff, 0.4),
  $buttonLine: #111111,
  $buttonHover: #444444,
  $buttonFocus: #444444,
  $buttonActive: #333333,
  $buttonDisabled: #444444,
  $buttonShadow: #333333,
  $buttonPulseHigh: #bbc2c3,
  $buttonPulseLow: #e4e7e7,
  $buttonRefresh: url(../images/refresh-white.svg),
  $buttonCheck: url(../images/check-white.svg),
  /* MARK */ $markBackground: #d35400,
  $markBackgroundAlt: rgba(#d35400, 0.7)
);
