@use "index.scss" with (
  /* B/W */ $black: #111,
  $white: #fff,

  /* MAIN COLORS */ $mainBackground: #fff,
  $mainBackgroundLite: #efefef,
  $mainBackgroundLiteHover: #e6e6e6,
  $mainBackgroundAlt: #f8f8f8,
  $mainText: #111,
  $mainVague: #777,
  $mainHover: #999,
  $mainLine: #c0c0c0,

  /* SIDEBAR COLORS */ $asideBackground: #333,
  $asideBackgroundLite: #444,
  $asideBackgroundLiteHover: #555,
  $asideBackgroundAlt: #191919,
  $asideText: #fff,
  $asideVague: #aaa,
  $asideHover: #333,
  $asideLine: #595959,
  $asideInputBackground: #191919,
  $asideInputBackgroundDisabled: #262626,
  $asideInputText: #fff,
  $asideInputVague: #666,
  $asideInputLine: #595959,
  $asideInputLineHover: #5dade2,
  $asideInputLineFocus: #2e8fc1,
  $asideInputLineActive: #2c81ba,
  $asideInputLineError: #c0392b,

  /* ACCENT COLORS */ $yellow: #ff0,
  $yellowBackground: #fdf9e7,
  $yellowBorder: #f7db6e,
  $yellowText: #111,
  $yellowHeader: #f1c40f,
  $yellowBorderSub: #f7db6e,
  $yellowTextSub: #111,
  $yellowHover: #fbedb7,
  $yellowActive: #f1c40f,
  $yellowActiveLite: #f2ca26,
  $yellowActiveText: #fff,

  $blue: #2980d7,
  $darkblue: #154360,
  $blueBackground: #e6f2ff,
  $blueBorder: #68a6e3,
  $blueText: #111,
  $blueHeader: #66b0ff,
  $blueBorderSub: #68a6e3,
  $blueTextSub: #111,
  $blueHover: #b3d7ff,
  $blueActive: #2980d7,
  $blueActiveLite: #3d8cdb,
  $blueActiveText: #fff,

  $red: #c00,
  $redBackground: #f5d9d6,
  $redBorder: #da7c71,
  $redText: #111,
  $redHeader: #ff8080,
  $redBorderSub: #da7c71,
  $redTextSub: #111,
  $redHover: #eab4ae,
  $redActive: #cb4335,
  $redActiveLite: #d05649,
  $redActiveText: #fff,

  $green: #28b463,
  $greenBackground: #d5f6e3,
  $greenBorder: #29bc67,
  $greenText: #111,
  $greenHeader: #28b463,
  $greenBorderSub: #29bc67,
  $greenTextSub: #111,
  $greenHover: #abedc7,
  $greenActive: #28b463,
  $greenActiveLite: #29bc67,
  $greenActiveText: #fff,

  $purpleBackground: #e6ccff,
  $purpleBorder: #bf80ff,
  $purpleText: #111,
  $purpleHeader: #9933ff,
  $purpleBorderSub: #bf80ff,
  $purpleTextSub: #111,
  $purpleHover: #d9b3ff,
  $purpleActive: #9933ff,
  $purpleActiveLite: #a64dff,
  $purpleActiveText: #fff,

  $orangeBackground: #ffe0cc,
  $orangeBorder: #ffa366,
  $orangeText: #111,
  $orangeHeader: #ff8c66,
  $orangeBorderSub: #ffa366,
  $orangeTextSub: #111,
  $orangeHover: #ffd1b3,
  $orangeActive: #d35400,
  $orangeActiveLite: #e65c00,
  $orangeActiveText: #fff,

  $gray: #aaa,
  $grayBackground: #efefef,
  $grayBorder: #c0c0c0,
  $grayText: #2573a7,
  $grayHeader: #777,
  $grayBorderSub: #c0c0c0,
  $grayTextSub: #111,
  $grayHover: #e6e6e6,
  $grayActive: #2980d7,
  $grayActiveText: #fff,

  /* HEADER */ $headerBackground: #efefef,
  $headerText: #111,
  $headerLine: #e6e6e6,

  /* LINKS */ $linkColor: #2573a7,
  $linkLine: #3498db,
  $linkHover: #111,
  $linkActive: #111,
  $linkVisited: #8e44ad,

  /* INPUT */ $inputBackground: #fff,
  $inputBackgroundDisabled: #ddd,
  $inputText: #111,
  $inputVague: #666,
  $inputLine: #c0c0c0,
  $inputLineHover: #5dade2,
  $inputLineFocus: #2e8fc1,
  $inputLineActive: #2c81ba,
  $inputLineError: #c0392b,

  /* BUTTONS */ $buttonBackground: #e5e8e8,
  $buttonText: #111,
  $buttonTextDisabled: #75828a,
  $buttonLine: #a0aaab,
  $buttonHover: #d7dbdd,
  $buttonFocus: #d7dbdd,
  $buttonActive: #c8cdd0,
  $buttonDisabled: #c9cfcf,
  $buttonShadow: #bbc3c3,
  $buttonPulseHigh: #bbc2c3,
  $buttonPulseLow: #e4e7e7,

  /* MARK */ $markBackground: rgba(#fed330, 0.3),
  $markBackgroundAlt: rgba(#fed330, 0.1)
);
